  body {
    text-align: center;
    background: #fdfaf3;
    font-family: "Hiragino Maru Gothic ProN", sans-serif;
    margin: 0;
    padding: 0;
  }

  .birdman img {
    width: 10em;
    height: auto;
    margin: 0;
  }

  button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #ffcc00;
    cursor: pointer;
    transition: 0.2s;
  }

  h1 {
    font-size: 2em;
    margin-top: 30px;
  }

  .birdman {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  button:hover {
    background-color: #ffdd44;
    transform: scale(1.05);
  }

  .description {
    text-align: center;
    padding: 3rem 1rem;
    background: #f9f9fb;
    border-radius: 1rem;
  }

  .description h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .description .subtext {
    color: #666;
    font-size: 1.1rem;
    max-width: 50ch;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
    text-align-last: left;
  }
